body {
    background-color: #f5f5f5;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

body > div {
    background-color: aqua;
    padding: 8px;
    width: 300px;
    height: 300px;
}

.pai {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filho {
    background-color: red;
    width: 200px;
    height: 200px;
}
